Repository owncloud/password_policy, pull requests merged in 2018-11, with the labels that each got.

#162 Separate occ commands to it's own test suites from apitests suite
  .drone.yml
  Makefile
  tests/acceptance/config/behat.yml
  tests/acceptance/features/cliPasswordAddUser/occAddUserLowercaseLetters.feature
  tests/acceptance/features/cliPasswordAddUser/occAddUserMinimumLength.feature
  tests/acceptance/features/cliPasswordAddUser/occAddUserNumbers.feature
  tests/acceptance/features/cliPasswordAddUser/occAddUserRequirementCombinations.feature
  tests/acceptance/features/cliPasswordAddUser/occAddUserSpecialCharacters.feature
  tests/acceptance/features/cliPasswordAddUser/occAddUserSpecialCharactersRestrictions.feature
  tests/acceptance/features/cliPasswordAddUser/occAddUserUppercaseLetters.feature
  tests/acceptance/features/cliPasswordChange/occResetPasswordLastPasswords.feature
  tests/acceptance/features/cliPasswordChange/occResetPasswordLowercaseLetters.feature
  tests/acceptance/features/cliPasswordChange/occResetPasswordMinimumLength.feature
  tests/acceptance/features/cliPasswordChange/occResetPasswordNumbers.feature
  tests/acceptance/features/cliPasswordChange/occResetPasswordRequirementCombinations.feature
  tests/acceptance/features/cliPasswordChange/occResetPasswordSpecialCharacters.feature
  tests/acceptance/features/cliPasswordChange/occResetPasswordSpecialCharactersRestrictions.feature
  tests/acceptance/features/cliPasswordChange/occResetPasswordUppercaseLetters.feature
Labels: 4 - To release, QA-team, dev:acceptance-tests

#163 Adjust CI
  .php_cs.dist
  Makefile
Labels: 4 - To release, QA-team, dev:acceptance-tests

#164 Adjust acceptance test steps changed in core
  tests/acceptance/features/webUIPublicShareLink/publicShareLinkLowercaseLetters.feature
  tests/acceptance/features/webUIPublicShareLink/publicShareLinkMinimumLength.feature
  tests/acceptance/features/webUIPublicShareLink/publicShareLinkNumbers.feature
  tests/acceptance/features/webUIPublicShareLink/publicShareLinkRequirementCombinations.feature
  tests/acceptance/features/webUIPublicShareLink/publicShareLinkSpecialCharacters.feature
  tests/acceptance/features/webUIPublicShareLink/publicShareLinkSpecialCharactersRestrictions.feature
  tests/acceptance/features/webUIPublicShareLink/publicShareLinkUppercaseLetters.feature
Labels: 3 - To Review, QA-team, dev:acceptance-tests

#161 Add tests to check user creation flow using email address
  .drone.yml
  tests/acceptance/config/behat.yml
  tests/acceptance/features/webUIPasswordAddUser/addUserLowercaseLetters.feature
  tests/acceptance/features/webUIPasswordAddUser/addUserMinimumLength.feature
  tests/acceptance/features/webUIPasswordAddUser/addUserNumbers.feature
  tests/acceptance/features/webUIPasswordAddUser/addUserRequirementCombinations.feature
  tests/acceptance/features/webUIPasswordAddUser/addUserSpecialCharacters.feature
  tests/acceptance/features/webUIPasswordAddUser/addUserSpecialCharactersRestrictions.feature
  tests/acceptance/features/webUIPasswordAddUser/addUserUppercaseLetters.feature
Labels: 4 - To release, QA-team, dev:acceptance-tests

#165 Adjust user creation steps
  tests/acceptance/features/apiPasswordChange/provisioningChangeUserPasswordLastPasswords.feature
  tests/acceptance/features/apiPasswordChange/provisioningChangeUserPasswordLowercaseLetters.feature
  tests/acceptance/features/apiPasswordChange/provisioningChangeUserPasswordMinimumLength.feature
  tests/acceptance/features/apiPasswordChange/provisioningChangeUserPasswordNumbers.feature
  tests/acceptance/features/apiPasswordChange/provisioningChangeUserPasswordRequirementCombinations.feature
  tests/acceptance/features/apiPasswordChange/provisioningChangeUserPasswordSpecialCharacters.feature
  tests/acceptance/features/apiPasswordChange/provisioningChangeUserPasswordSpecialCharactersRestrictions.feature
  tests/acceptance/features/apiPasswordChange/provisioningChangeUserPasswordUppercaseLetters.feature
  tests/acceptance/features/apiUpdateShare/publicShareLinkUpdateLowercaseLetters.feature
  tests/acceptance/features/apiUpdateShare/publicShareLinkUpdateMinimumLength.feature
  tests/acceptance/features/apiUpdateShare/publicShareLinkUpdateNumbers.feature
  tests/acceptance/features/apiUpdateShare/publicShareLinkUpdateRequirementCombinations.feature
  tests/acceptance/features/apiUpdateShare/publicShareLinkUpdateSpecialCharacters.feature
  tests/acceptance/features/apiUpdateShare/publicShareLinkUpdateSpecialCharactersRestrictions.feature
  tests/acceptance/features/apiUpdateShare/publicShareLinkUpdateUppercaseLetters.feature
  tests/acceptance/features/cliPasswordChange/occResetPasswordLastPasswords.feature
  tests/acceptance/features/cliPasswordChange/occResetPasswordLowercaseLetters.feature
  tests/acceptance/features/cliPasswordChange/occResetPasswordMinimumLength.feature
  tests/acceptance/features/cliPasswordChange/occResetPasswordNumbers.feature
  tests/acceptance/features/cliPasswordChange/occResetPasswordRequirementCombinations.feature
  tests/acceptance/features/cliPasswordChange/occResetPasswordSpecialCharacters.feature
  tests/acceptance/features/cliPasswordChange/occResetPasswordSpecialCharactersRestrictions.feature
  tests/acceptance/features/cliPasswordChange/occResetPasswordUppercaseLetters.feature
  tests/acceptance/features/webUIPasswordChange/passwordChangeLastPasswords.feature
  tests/acceptance/features/webUIPasswordChange/passwordChangeLowercaseLetters.feature
  tests/acceptance/features/webUIPasswordChange/passwordChangeMinimumLength.feature
  tests/acceptance/features/webUIPasswordChange/passwordChangeNumbers.feature
  tests/acceptance/features/webUIPasswordChange/passwordChangeRequirementCombinations.feature
  tests/acceptance/features/webUIPasswordChange/passwordChangeSpecialCharacters.feature
  tests/acceptance/features/webUIPasswordChange/passwordChangeSpecialCharactersRestrictions.feature
  tests/acceptance/features/webUIPasswordChange/passwordChangeUppercaseLetters.feature
  tests/acceptance/features/webUIPasswordReset/passwordResetLastPasswords.feature
  tests/acceptance/features/webUIPasswordReset/passwordResetLowercaseLetters.feature
  tests/acceptance/features/webUIPasswordReset/passwordResetMinimumLength.feature
  tests/acceptance/features/webUIPasswordReset/passwordResetNumbers.feature
  tests/acceptance/features/webUIPasswordReset/passwordResetRequirementCombinations.feature
  tests/acceptance/features/webUIPasswordReset/passwordResetSpecialCharacters.feature
  tests/acceptance/features/webUIPasswordReset/passwordResetSpecialCharactersRestriction.feature
  tests/acceptance/features/webUIPasswordReset/passwordResetUppercaseLetters.feature
  tests/acceptance/features/webUIPublicShareLink/publicShareLinkLowercaseLetters.feature
  tests/acceptance/features/webUIPublicShareLink/publicShareLinkMinimumLength.feature
  tests/acceptance/features/webUIPublicShareLink/publicShareLinkNumbers.feature
  tests/acceptance/features/webUIPublicShareLink/publicShareLinkRequirementCombinations.feature
  tests/acceptance/features/webUIPublicShareLink/publicShareLinkSpecialCharacters.feature
  tests/acceptance/features/webUIPublicShareLink/publicShareLinkSpecialCharactersRestrictions.feature
  tests/acceptance/features/webUIPublicShareLink/publicShareLinkUppercaseLetters.feature
Labels: 4 - To release, QA-team, dev:acceptance-tests

#167 Check that coding standard passes on PHP 5.6
  .drone.yml
Labels: 3 - To Review, QA-team

#173 Ignore ldap user for password change during first login
  lib/HooksHandler.php
  tests/unit/HooksHandlerTest.php
Labels: 3 - To Review

#177 Set version to 2.0.2 and update changelog
  CHANGELOG.md
  appinfo/info.xml
Labels: 3 - To Review

#178 adjust acceptance test time constant names
  tests/acceptance/features/lib/PasswordPolicySettingsPage.php
Labels: 4 - To release, QA-team, dev:acceptance-tests

#181 Do not pin codecov xml file name
  .drone.yml
  .gitignore
Labels: 4 - To release, QA-team
