Repository owncloud/password_policy, pull requests merged in 2018-09, with the labels that each got.

#120 webUI tests for password policy on password reset page
  .drone.yml
  tests/acceptance/config/behat.yml
  tests/acceptance/features/bootstrap/PasswordPolicyContext.php
  tests/acceptance/features/webUIPasswordPolicy/passwordLowercaseLetters.feature
  tests/acceptance/features/webUIPasswordPolicy/passwordMinimumLength.feature
  tests/acceptance/features/webUIPasswordPolicy/passwordNumbers.feature
  tests/acceptance/features/webUIPasswordPolicy/passwordRequirementCombinations.feature
  tests/acceptance/features/webUIPasswordPolicy/passwordSpecialCharacters.feature
  tests/acceptance/features/webUIPasswordPolicy/passwordSpecialCharactersRestriction.feature
  tests/acceptance/features/webUIPasswordPolicy/passwordUppercaseLetters.feature
Labels: 3 - To Review, QA-team, dev:acceptance-tests

#122 Expire command should let user know about invalid argument
  lib/Command/ExpirePassword.php
  tests/unit/Command/ExpirePasswordTest.php
Labels: 3 - To Review

#124 Remove unneeded use of mailhog
  .drone.yml
  tests/acceptance/features/webUIPasswordChange/passwordChangeLowercaseLetters.feature
  tests/acceptance/features/webUIPasswordChange/passwordChangeMinimumLength.feature
  tests/acceptance/features/webUIPasswordChange/passwordChangeNumbers.feature
  tests/acceptance/features/webUIPasswordChange/passwordChangeRequirementCombinations.feature
  tests/acceptance/features/webUIPasswordChange/passwordChangeSpecialCharacters.feature
  tests/acceptance/features/webUIPasswordChange/passwordChangeSpecialCharactersRestrictions.feature
  tests/acceptance/features/webUIPasswordChange/passwordChangeUppercaseLetters.feature
Labels: 3 - To Review, QA-team, dev:acceptance-tests

#123 API acceptance tests for provisioning add user
  .drone.yml
  tests/acceptance/config/behat.yml
  tests/acceptance/features/apiPasswordPolicy/provisioningAddUserLowercaseLetters.feature
  tests/acceptance/features/apiPasswordPolicy/provisioningAddUserMinimumLength.feature
  tests/acceptance/features/apiPasswordPolicy/provisioningAddUserNumbers.feature
  tests/acceptance/features/apiPasswordPolicy/provisioningAddUserRequirementCombinations.feature
  tests/acceptance/features/apiPasswordPolicy/provisioningAddUserSpecialCharacters.feature
  tests/acceptance/features/apiPasswordPolicy/provisioningAddUserSpecialCharactersRestrictions.feature
  tests/acceptance/features/apiPasswordPolicy/provisioningAddUserUppercaseLetters.feature
Labels: 3 - To Review, QA-team, dev:acceptance-tests

#125 API acceptance tests for provisioning change password
  tests/acceptance/features/apiPasswordPolicy/provisioningAddUserRequirementCombinations.feature
  tests/acceptance/features/apiPasswordPolicy/provisioningChangeUserPasswordLowercaseLetters.feature
  tests/acceptance/features/apiPasswordPolicy/provisioningChangeUserPasswordMinimumLength.feature
  tests/acceptance/features/apiPasswordPolicy/provisioningChangeUserPasswordNumbers.feature
  tests/acceptance/features/apiPasswordPolicy/provisioningChangeUserPasswordRequirementCombinations.feature
  tests/acceptance/features/apiPasswordPolicy/provisioningChangeUserPasswordSpecialCharacters.feature
  tests/acceptance/features/apiPasswordPolicy/provisioningChangeUserPasswordSpecialCharactersRestrictions.feature
  tests/acceptance/features/apiPasswordPolicy/provisioningChangeUserPasswordUppercaseLetters.feature
Labels: 3 - To Review, QA-team, dev:acceptance-tests

#127 Acceptance tests for occ user:add
  .drone.yml
  tests/acceptance/config/behat.yml
  tests/acceptance/features/apiPasswordAddUser/occAddUserLowercaseLetters.feature
  tests/acceptance/features/apiPasswordAddUser/occAddUserMinimumLength.feature
  tests/acceptance/features/apiPasswordAddUser/occAddUserNumbers.feature
  tests/acceptance/features/apiPasswordAddUser/occAddUserRequirementCombinations.feature
  tests/acceptance/features/apiPasswordAddUser/occAddUserSpecialCharacters.feature
  tests/acceptance/features/apiPasswordAddUser/occAddUserSpecialCharactersRestrictions.feature
  tests/acceptance/features/apiPasswordAddUser/occAddUserUppercaseLetters.feature
  tests/acceptance/features/apiPasswordAddUser/provisioningAddUserLowercaseLetters.feature
  tests/acceptance/features/apiPasswordAddUser/provisioningAddUserMinimumLength.feature
  tests/acceptance/features/apiPasswordAddUser/provisioningAddUserNumbers.feature
  tests/acceptance/features/apiPasswordAddUser/provisioningAddUserRequirementCombinations.feature
  tests/acceptance/features/apiPasswordAddUser/provisioningAddUserSpecialCharacters.feature
  tests/acceptance/features/apiPasswordAddUser/provisioningAddUserSpecialCharactersRestrictions.feature
  tests/acceptance/features/apiPasswordAddUser/provisioningAddUserUppercaseLetters.feature
  tests/acceptance/features/apiPasswordChange/provisioningChangeUserPasswordLowercaseLetters.feature
  tests/acceptance/features/apiPasswordChange/provisioningChangeUserPasswordMinimumLength.feature
  tests/acceptance/features/apiPasswordChange/provisioningChangeUserPasswordNumbers.feature
  tests/acceptance/features/apiPasswordChange/provisioningChangeUserPasswordRequirementCombinations.feature
  tests/acceptance/features/apiPasswordChange/provisioningChangeUserPasswordSpecialCharacters.feature
  tests/acceptance/features/apiPasswordChange/provisioningChangeUserPasswordSpecialCharactersRestrictions.feature
  tests/acceptance/features/apiPasswordChange/provisioningChangeUserPasswordUppercaseLetters.feature
Labels: 3 - To Review, QA-team, dev:acceptance-tests

#128 Name the drone step owncloud-coding-standard
  .drone.yml
  Makefile
Labels: 3 - To Review, QA-team

#130 Tests for occ user:resetpassword
  tests/acceptance/features/apiPasswordChange/occResetPasswordLowercaseLetters.feature
  tests/acceptance/features/apiPasswordChange/occResetPasswordMinimumLength.feature
  tests/acceptance/features/apiPasswordChange/occResetPasswordNumbers.feature
  tests/acceptance/features/apiPasswordChange/occResetPasswordRequirementCombinations.feature
  tests/acceptance/features/apiPasswordChange/occResetPasswordSpecialCharacters.feature
  tests/acceptance/features/apiPasswordChange/occResetPasswordSpecialCharactersRestrictions.feature
  tests/acceptance/features/apiPasswordChange/occResetPasswordUppercaseLetters.feature
Labels: 3 - To Review, QA-team, dev:acceptance-tests

#131 Test HTTP and OCS reason phrases
  tests/acceptance/features/apiPasswordAddUser/provisioningAddUserLowercaseLetters.feature
  tests/acceptance/features/apiPasswordAddUser/provisioningAddUserMinimumLength.feature
  tests/acceptance/features/apiPasswordAddUser/provisioningAddUserNumbers.feature
  tests/acceptance/features/apiPasswordAddUser/provisioningAddUserRequirementCombinations.feature
  tests/acceptance/features/apiPasswordAddUser/provisioningAddUserSpecialCharacters.feature
  tests/acceptance/features/apiPasswordAddUser/provisioningAddUserSpecialCharactersRestrictions.feature
  tests/acceptance/features/apiPasswordAddUser/provisioningAddUserUppercaseLetters.feature
  tests/acceptance/features/apiPasswordChange/provisioningChangeUserPasswordLowercaseLetters.feature
  tests/acceptance/features/apiPasswordChange/provisioningChangeUserPasswordMinimumLength.feature
  tests/acceptance/features/apiPasswordChange/provisioningChangeUserPasswordNumbers.feature
  tests/acceptance/features/apiPasswordChange/provisioningChangeUserPasswordRequirementCombinations.feature
  tests/acceptance/features/apiPasswordChange/provisioningChangeUserPasswordSpecialCharacters.feature
  tests/acceptance/features/apiPasswordChange/provisioningChangeUserPasswordSpecialCharactersRestrictions.feature
  tests/acceptance/features/apiPasswordChange/provisioningChangeUserPasswordUppercaseLetters.feature
Labels: 3 - To Review, QA-team, dev:acceptance-tests

#134 API and UI tests for last passwords user password policy
  tests/acceptance/features/apiPasswordChange/occResetPasswordLastPasswords.feature
  tests/acceptance/features/apiPasswordChange/provisioningChangeUserPasswordLastPasswords.feature
  tests/acceptance/features/bootstrap/PasswordPolicyContext.php
  tests/acceptance/features/webUIPasswordChange/passwordChangeLastPasswords.feature
  tests/acceptance/features/webUIPasswordReset/passwordResetLastPasswords.feature
Labels: 3 - To Review, QA-team

#133 UI-test-for-publicSharing-usingPasswordPolicy
  .drone.yml
  tests/acceptance/config/behat.yml
  tests/acceptance/features/webUIEnforcePasswordPolicyOnPublicShare/enforcePasswordPolicyOnPublicShare.feature
Labels: 3 - To Review, QA-team, dev:acceptance-tests

#144 Fix processing of multiple groups
  lib/Command/ExpirePassword.php
  tests/unit/Command/ExpirePasswordTest.php
Labels: QA-team

#147 Add changelog for 2.0.1
  CHANGELOG.md
  appinfo/info.xml
Labels: 3 - To Review

#129 test-acceptance-api and test-acceptance-webui makefile targets
  .drone.yml
  Makefile
Labels: 3 - To Review, QA-team, dev:acceptance-tests
