Repository owncloud/password_policy, pull requests merged in 2018-12, with the labels that each got.

#182 Release 2.0.2
  CHANGELOG.md
  appinfo/info.xml
Labels: 3 - To Review

#183 Remove unneeded phpunit Makefile dependencies
  Makefile
Labels: 4 - To release, QA-team, dev:acceptance-tests

#187 More flexible Makefile help column format
  Makefile
Labels: 4 - To release, QA-team

#192 test guests app together with password_policy app
  .drone.yml
  tests/acceptance/config/behat.yml
  tests/acceptance/features/apiGuests/guests.feature
  tests/acceptance/features/bootstrap/bootstrap.php
Labels: 3 - To Review, QA-team, dev:acceptance-tests

#194 tests of guest user setting password
  .drone.yml
  tests/acceptance/config/behat.yml
  tests/acceptance/features/webUIGuests/guestSetsPasswordLowercaseLetters.feature
  tests/acceptance/features/webUIGuests/guestSetsPasswordMinimumLength.feature
  tests/acceptance/features/webUIGuests/guestSetsPasswordNumbers.feature
  tests/acceptance/features/webUIGuests/guestSetsPasswordRequirementCombinations.feature
  tests/acceptance/features/webUIGuests/guestSetsPasswordSpecialCharacters.feature
  tests/acceptance/features/webUIGuests/guestSetsPasswordSpecialCharactersRestrictions.feature
  tests/acceptance/features/webUIGuests/guestSetsPasswordUppercaseLetters.feature
Labels: 4 - To release, QA-team, dev:acceptance-tests

#195 test force password change on first login with guest user
  tests/acceptance/features/webUIGuests/guest.feature
Labels: 4 - To release, QA-team, dev:acceptance-tests

#197 Typo dos-does in acceptance tests
  tests/acceptance/features/apiGuests/guests.feature
Labels: 4 - To release, QA-team, dev:acceptance-tests

#198 guest creates public link
  tests/acceptance/features/apiGuests/guests.feature
Labels: 4 - To release, QA-team, dev:acceptance-tests
