Repository owncloud/password_policy, pull requests merged in 2019-09, with the labels that each got.

#253 Revert "Fix expected text of password messages"
  tests/acceptance/features/apiPasswordAddUser/provisioningAddUserLowercaseLetters.feature
  tests/acceptance/features/apiPasswordAddUser/provisioningAddUserMinimumLength.feature
  tests/acceptance/features/apiPasswordAddUser/provisioningAddUserNumbers.feature
  tests/acceptance/features/apiPasswordAddUser/provisioningAddUserUppercaseLetters.feature
  tests/acceptance/features/apiPasswordAddUserSpecial/provisioningAddUserRequirementCombinations.feature
  tests/acceptance/features/apiPasswordAddUserSpecial/provisioningAddUserSpecialCharacters.feature
  tests/acceptance/features/apiPasswordAddUserSpecial/provisioningAddUserSpecialCharactersRestrictions.feature
  tests/acceptance/features/cliPasswordAddUser/occAddUserLowercaseLetters.feature
  tests/acceptance/features/cliPasswordAddUser/occAddUserMinimumLength.feature
  tests/acceptance/features/cliPasswordAddUser/occAddUserNumbers.feature
  tests/acceptance/features/cliPasswordAddUser/occAddUserRequirementCombinations.feature
  tests/acceptance/features/cliPasswordAddUser/occAddUserSpecialCharacters.feature
  tests/acceptance/features/cliPasswordAddUser/occAddUserSpecialCharactersRestrictions.feature
  tests/acceptance/features/cliPasswordAddUser/occAddUserUppercaseLetters.feature
Labels: 4 - To release

#252 Support useBundledApp, refactor testrunner
  .drone.starlark
  .drone.yml
Labels: 4 - To release, Drone, QA-team

#254 Make rocketchat from_secret flexible
  .drone.starlark
  .drone.yml
Labels: 3 - To Review, Drone, QA-team

#255 PublicWebDavContext in core now also uses OccContext
  tests/acceptance/config/behat.yml
Labels: 3 - To Review, QA-team, dev:acceptance-tests

#257 Update starlark code
  .drone.starlark
Labels: 3 - To Review, Drone, QA-team

#258 separate installApp from setupServerAndApp in drone starlark and other recent changes
  .drone.starlark
  .drone.yml
Labels: 3 - To Review, Drone, QA-team

#259 Update drone starlark code
  .drone.starlark
Labels: 3 - To Review, Drone, QA-team

#260 Test against 10.3.0RC1
  .drone.starlark
  .drone.yml
Labels: 4 - To release, Drone, QA-team
