Repository owncloud/password_policy, pull requests merged in 2019-07, with the labels that each got.

#234 Special characters provided shouldn't be empty
  js/ajax.js
  tests/acceptance/features/webUIPasswordPolicySettings/setPolicySettings.feature
Labels: 2 - Developing

#232 Run acceptance tests in latest stable release of core
  .drone.yml
  tests/acceptance/features/cliPasswordAddUser/occAddUserLowercaseLetters.feature
  tests/acceptance/features/cliPasswordAddUser/occAddUserMinimumLength.feature
  tests/acceptance/features/cliPasswordAddUser/occAddUserNumbers.feature
  tests/acceptance/features/cliPasswordAddUser/occAddUserRequirementCombinations.feature
  tests/acceptance/features/cliPasswordAddUser/occAddUserSpecialCharacters.feature
  tests/acceptance/features/cliPasswordAddUser/occAddUserSpecialCharactersRestrictions.feature
  tests/acceptance/features/cliPasswordAddUser/occAddUserUppercaseLetters.feature
  tests/acceptance/features/cliPasswordChange/occResetPasswordLastPasswords.feature
  tests/acceptance/features/cliPasswordChange/occResetPasswordLowercaseLetters.feature
  tests/acceptance/features/cliPasswordChange/occResetPasswordMinimumLength.feature
  tests/acceptance/features/cliPasswordChange/occResetPasswordNumbers.feature
  tests/acceptance/features/cliPasswordChange/occResetPasswordRequirementCombinations.feature
  tests/acceptance/features/cliPasswordChange/occResetPasswordSpecialCharacters.feature
  tests/acceptance/features/cliPasswordChange/occResetPasswordSpecialCharactersRestrictions.feature
  tests/acceptance/features/cliPasswordChange/occResetPasswordUppercaseLetters.feature
Labels: 4 - To release, QA-team, dev:acceptance-tests

#233 Use CHAR_SYMBOLS to generate password when no special chars are specified
  lib/Engine.php
  tests/unit/EngineTest.php
Labels: 3 - To Review, bug

#240 Remove stable10 test jobs
  .drone.yml
Labels: 4 - To release, Drone, QA-team
