Repository owncloud/password_policy, pull requests merged in 2020-03, with the labels that each got.

#283 [release-2.1.1] Use new owncloudci/oracle-xe docker image
  .drone.starlark
  .drone.yml
Labels: 3 - To Review, Drone, QA-team

#288 [Tests-only] Add acceptance tests for public link expiration policy
  tests/acceptance/features/webUIPublicShareLink/publicShareLinkExpirationPolicy.feature
Labels: 4 - To release, QA-team

#289 Pin behat/mink to 1.7.1 and update other acceptance test dependencies
  vendor-bin/behat/composer.json
Labels: 3 - To Review, QA-team, dev:acceptance-tests

#290 [Tests-Only] Acceptance tests for public link expiry policy when the default value for maximum expiry date is changed
  tests/acceptance/features/bootstrap/PasswordPolicyContext.php
  tests/acceptance/features/webUIPublicShareLink/publicShareLinkExpirationPolicy.feature
Labels: 3 - To Review, QA-team, dev:acceptance-tests

#292 [Tests-Only] Add acceptance tests for password policy expiration date
  tests/acceptance/features/webUIPublicShareLink/publicShareLinkExpirationPolicy.feature
Labels: 4 - To release, QA-team, dev:acceptance-tests

#294 Add test scenarios to demonstrate issue-287
  tests/acceptance/features/webUIPublicShareLink/publicShareLinkExpirationPolicyEdgeCases.feature
Labels: 3 - To Review, QA-team, dev:acceptance-tests

#293 Validate expiration date for public links only
  lib/HooksHandler.php
  tests/acceptance/features/webUIPublicShareLink/publicShareLinkExpirationPolicyEdgeCases.feature
  tests/unit/HooksHandlerTest.php
Labels: 4 - To release
